/*
	Colors should be prefixed with a c- to easily distinguish it's a color.
 */
$c-white:		#ffffff;
$c-black:		#191919;

$a-color: #002B6B;

$c-gray-50:		#F9F9F9;
$c-gray-100:	#E6E6E6;
$c-gray-200:	#CCCCCC;
$c-gray-300:	#B3B3B3;
$c-gray-400:	#999999;
$c-gray-500:	#808080;
$c-gray-600:	#666666;
$c-gray-700:	#4D4D4D;
$c-gray-800:	#333333;
$c-gray-900:	#1A1A1A;


/*
* Define font related variables here.

* Ensure that you are using fallback fonts for whatever webfont is used.
* Ideally they should be as close to the final font to use as possible.
* */
$font-main:	'Urbanist', sans-serif; // Sans Serif font
$font-villa: 'Ginger', sans-serif; // Serif font

$font:		$font-main;
$h1-font: 	$font-villa;
$h2-font: 	$font-villa;
$h3-font: 	$font-villa;
$h4-font: 	$font-villa;
$h5-font: 	$font-villa;
$h6-font: 	$font-villa;

$font-size: 	16px;

$h1-font-size: 	56px;
$h2-font-size: 	48px;
$h3-font-size: 	24px;
$h4-font-size: 	18px;
$h5-font-size: 	2.2rem;
$h6-font-size: 	1.6rem;

/*
	Defining Shadows.
 */
$shadow-base:	0 1px 3px 0px rgba(0,0,0,0.1), 0 1px 2px 0px rgba(0,0,0,0.06);
$shadow-md:		0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
$shadow-lg:		0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
$shadow-xl:		0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.04);

/*
	Transition to use.
 */
$trans:			all .6s cubic-bezier(.215, .61, .355, 1);