section.error-404.not-found {
    padding: 128px 0;
    text-align: center;

    .page-title {
        line-height: 58px;
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 40px;
    }
}