.half-text-half-media {
    padding: 0;

    .d-flex.row {
        .media-left,
        .media-right {
            padding: 0;
            display: flex;
            align-items: center;

            @include breakpoint(ipadpro) {
                align-items: center;
            }

            @media (min-width: 992px ) and (max-width: 1024px ) {
                align-items: center !important;
            }

            @include breakpoint(ipad) {
                align-items: flex-start;
            }

            @include breakpoint(mobileonly) {
                flex-direction: column;
            }

            .media {
                padding-right: 72px;

                @include breakpoint(ipad) {
                    padding-right: 0;
                }

                @include breakpoint(mobileonly) {
                    padding-right: 0;
                }

                img {
                    border-radius: 8px;
                    overflow: hidden;
                }
            }
        }

        &.media-right {
            flex-direction: row-reverse;

            @include breakpoint(mobileonly) {
                flex-direction: column;
            }

            .content-info {
                padding: 64px 36px 64px 0px;

                @include breakpoint(mobileonly) {
                    padding: 30px 0;
                }
            }

            .media {
                padding-right: 0;
                padding-left: 72px;

                @include breakpoint(ipad) {
                    padding-right: 0;
                    padding-left: 0;
                }

                @include breakpoint(mobileonly) {
                    padding-right: 0;
                    padding-left: 0;
                }

                img {
                    border-radius: 8px;
                    overflow: hidden;
                }
            }
        }
    }

    img {
        width: 100%;
    }

    .content-info {
        padding: 64px 0px 64px 36px;

        @include breakpoint(ipadpro) {
            padding: 0;
        }

        @include breakpoint(ipad) {
            padding: 0;
        }

        @include breakpoint(mobileonly) {
            padding: 30px 0;
        }

        h2 {
            margin-bottom: 15px;
            font-size: 36px;
            font-weight: 400;
            letter-spacing: 1.08px;
            line-height: 41px;
            color: #111111;

            @include breakpoint(ipad) {
                margin-bottom: 10px;
                font-size: 30px;
                line-height: 38px;
            }

            @include breakpoint(mobileonly) {
                font-size: 28px;
            }
        }

        h4 {
            font-family: $font-main;
            font-weight: 400;
            line-height: 30px;
            color: #111111;
            margin-bottom: 17px;
        }

        p, ul li {
            font-size: 16px;
            line-height: 24px;
            color: #63605F;
            letter-spacing: 0.48px;
            margin-bottom: 20px;

            @include breakpoint(ipad) {
                margin-bottom: 10px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        ul {
            margin: 20px 0 56px;
            padding: 0;

            li {
                line-height: 19px;
                margin-bottom: 15px;
                list-style: none;
                position: relative;
                padding-left: 20px;

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 5px;
                    width: 8px;
                    height: 8px;
                    background: #232D6E;
                    border-radius: 50%;
                }
            }
        }
    }
}
