/*=========================================
*=======     Navigation       ============
*=======================================*/

/* main menu */
.navbar-header {
	margin-bottom: 0;
}

#navigation .navbar-brand {
	height: 0;
	padding: 0;
	margin: 12px 0 0;
}

#navigation .navbar-nav {
	float: right;
}

#navigation a.navbar-brand h1 {
	margin: 0;
	font-size: 42px;
}
.header-transparent {
	position: absolute;
	width: 100%;
	z-index: 999;
}

.site-header.sticky {
	background-color: #fafafa;
	position: sticky !important;
	top: 0;
	left: 0;
}

.admin-bar #masthead.sticky {
	top: 32px;
}

#navigation .navbar-header .navbar-toggle {
	margin: 12px 0 0;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	background: none;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
	transition: 300ms;
	-webkit-transition: 300ms;
}

#navigation .navbar-header .navbar-toggle:hover,
#navigation .navbar-header .navbar-toggle:focus {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.main-menu-wrap {
	width: 100%;
	display: table;
	position: relative;

	.menu-right-wrap {
		display: flex;
		align-items: center;
		height: 106px;
		justify-content: flex-end;
		gap: 24px;

		@media (min-width: 1024px ) and (max-width: 1518px ) {
			height: 92px;
			gap: 18px;

			.btn.btn-primary {
				padding: 13px 12px;
				font-size: 14px;
				line-height: 24px;
				height: 48px;
				letter-spacing: 0;
			}
		}

		@include breakpoint(ipad) {
			gap: 18px;
			height: 80px;
		}

		@include breakpoint(mobileonly) {
			height: 80px;
		}

		svg path {
			fill: #111;
		}

		.info {
			line-height: normal;
			width: 26px;
			height: 26px;
			display: flex;
			align-items: center;
		}
	}
}

.common-menu-wrap {
	position: inherit;
	text-align: left;
	line-height: 0;

	@include breakpoint(ipad) {
		text-align: center;
	}
}

.common-menu-wrap #menu-right-menu.nav {
	list-style: none;
	padding: 0;
	margin: 0;
	z-index: 9;
	display: block;
}
.common-menu-wrap #menu-left-menu.nav {
	list-style: none;
	padding: 0;
	margin: 0;
	z-index: 9;
	display: block;
	text-align: right;
}

.common-menu-wrap .nav > li {
	display: inline-block;
	position: relative;
	padding: 0;
}

@media only screen and (min-width: 768px) {
	.common-menu-wrap .nav > li.my-account {
		display: none !important;
	}
}

.common-menu-wrap .nav > li > a {
	color: #111111;
    font-size: 14px;
    line-height: 25px;
    font-weight: 700;
    display: inline-block;
    padding: 40px 20px;
    text-align: center;
	letter-spacing: 2.52px;
    transition: color .3s,background .3s;
    text-transform: uppercase;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		bottom: 35px;
		left: 20px;
		width: 0;
		height: 1px;
		background-color: #111;
		transition: .3s;
	}

	&:focus,
	&:hover {
		background: transparent;
		&:before {
			width: calc(100% - 43px);
		}
	}

	@include breakpoint(ipadpro) {
		padding: 34px 14px;
		font-size: 16px;
	}

	@include breakpoint(ipad) {
		letter-spacing: .52px;
		padding: 30px 10px;
		font-size: 13px;
	}

	@media (min-width: 1024px ) and (max-width: 1518px ) {
		padding: 34px 8px !important;
		font-size: 13px !important;
		letter-spacing: 1.52px !important;
	}

}

.common-menu-wrap .nav > li.contact-btn {
	a {
		background: #C0E6E0;
		border: 2px solid #C0E6E0;
		height: 54px;
		padding: 15px 24px;
		margin-top: 18px;
		color: #002B6B;
		margin-left: 15px;
		transition: 0.4s;
		border-radius: 3px;

		@include breakpoint(ipad) {
			margin-left: 12px;
			padding: 15px 16px;
		}

		&:hover {
			background: transparent;
			border: 2px solid #fff;
			color: #C0E6E0;
		}
	}
}

.logo-wrapper {
	width: 251px;
	padding-top: 23px;
    padding-bottom: 21px;
    display: block;

	@media (min-width: 1024px ) and (max-width: 1518px ) {
		width: 100%;
	}

	@include breakpoint(ipad) {
		width: 100%;
	}

	@include breakpoint(mobileonly) {
		padding-top: 11px;
    	padding-bottom: 11px;
	}

	a {
		display: inline-block;

		img {
			width: 100%;
		}

		@include breakpoint(mobileonly) {
			img {
				width: 135px;
			}
		}
	}
}

.common-menu-wrap .nav > li.fixed-menu {
	margin-left: 20px;
}

.common-menu-wrap .nav > li.menu-item-has-children {
	position: relative;
	z-index: 100;
	padding-right: 20px;

	@include breakpoint(ipad) {
		padding-right: 8px;
	}

	ul.sub-menu li {
		a {
			padding: 12px 20px;
			border-bottom: 1px solid #f1f1f1;
		}

		&:last-child {
			a {
				border-bottom: none;
			}
		}
	}
}

.common-menu-wrap .nav > li.menu-item-has-children > a {
	position: relative;
}

.common-menu-wrap .nav > li.menu-item-has-children > a:after {
	content: "";
	// font-family: "FontAwesome";
	margin-left: 0;
	color: #111;
}

.header-solid .common-menu-wrap .nav > li.menu-item-has-children:after {
	color: #000;
}

.page-template-homepage-transparent-php
	#masthead.sticky
	.common-menu-wrap
	.nav
	> li.fixed-menu
	> a {
	color: #fff;
}

.common-menu-wrap .nav > li > ul {
	padding: 0px 0 0;
}

.common-menu-wrap .nav > li ul {
	position: absolute;
	top: 105px;
	left: 10px;
	text-align: left;
	list-style: none;
	width: 230px;
	margin: 0;
	padding: 15px 0px;
	z-index: 999999;
	background: #fff;
	color: #fff;
	box-shadow: 0 0 15px 0 #00000033;
	display: none;
}

.common-menu-wrap .nav > li ul.megamenu {
	left: 0;
}

.common-menu-wrap .nav > li.menu-item-has-children:hover > a::before {
	display: block;
	-webkit-animation: fadeIn 300ms;
	animation: fadeIn 300ms;
}

.common-menu-wrap .nav > li.fixed-menu a {
	color: #fff;
	line-height: 36px;
	border-radius: 4px;
	transition: 300ms;
	-webkit-transition: 300ms;
}

.common-menu-wrap .nav > li.fixed-menu a:hover {
	color: #fff;
}

.common-menu-wrap .nav > li:hover > ul {
	display: table;
	-webkit-animation: fadeIn 300ms;
	animation: fadeIn 300ms;
}

.common-menu-wrap .nav > li > ul li a {
	display: block;
    line-height: normal;
    font-size: 13px;
    font-weight: 600;
    color: #0d0d0d;
    transition: 400ms;
    -webkit-transition: 400ms;
    letter-spacing: .86px;
    text-transform: uppercase;
}

.common-menu-wrap .nav > li > ul li.mega-child a {
	border-width: 0;
}

.common-menu-wrap .nav > li > ul li:last-child a {
	border-bottom-width: 0;
	border-radius: 0 0 3px 3px;
}

.common-menu-wrap .nav > li > ul li > div {
	padding: 0 20px 10px;
	font-size: 13px;
}

.common-menu-wrap .sub-menu li.active a,
.common-menu-wrap .sub-menu li.active.mega-child .active a,
.common-menu-wrap .sub-menu.megamenu > li.active.mega-child > a {
	color: #fff;
}

.common-menu-wrap .sub-menu li.active.mega-child a {
	color: #9d9d9d;
}

.common-menu-wrap .nav > li > ul li a:hover,
.common-menu-wrap .sub-menu li.active.mega-child a:hover {
	text-decoration: none;
	color: #C0E6E0 !important;
	padding-left: 23px !important;
}

.common-menu-wrap .nav > li > ul {
	transition: 300ms;
	-webkit-transition: 300ms;
}

.common-menu-wrap .nav > li > ul li {
	transition: 300ms;
	-webkit-transition: 300ms;
}

.common-menu-wrap .nav > li > ul li {
	position: relative;
	transition: 0.3s;
}

.common-menu-wrap .nav > li > ul > li.menu-item-has-children {
	position: relative;
	display: block;
}

.common-menu-wrap .nav > li > ul > li.menu-item-has-children:after {
	position: absolute;
	content: "\f105";
	right: 18px;
	top: 50%;
	color: #fff;
	font-size: 17px;
	font-family: FontAwesome;
	margin-top: -14px;
}

.common-menu-wrap .nav > li > ul > li.mega-child.menu-item-has-children:after {
	display: none;
}

.common-menu-wrap .nav > li > ul li > ul {
	position: absolute;
	top: 0;
	left: 230px;
	background: #fff;
}

.common-menu-wrap .nav > li > ul li.mega-child > ul {
	display: block;
	position: static;
	animation: none !important;
	width: 100%;
	padding: 0;
}

.common-menu-wrap .nav > li > ul li:hover > ul {
	display: block;
	-webkit-animation: fadeIn 300ms;
	animation: fadeIn 300ms;
}

/*============   Megamenu  ==============*/
.common-menu-wrap .nav > li.has-megasub > ul.megamenu {
	padding: 20px;

	.mega-child {
		margin-bottom: 18px;
	}
}

.common-menu-wrap .nav > li.has-megasub > ul.megamenu > li {
	display: block;
	float: left;
}

.common-menu-wrap .nav > li.has-megasub > ul.megamenu.megacol-4 > li {
	width: 25%;
}

.common-menu-wrap .nav > li.has-megasub > ul.megamenu.megacol-3 > li {
	width: 33%;
}

.common-menu-wrap .nav > li.has-megasub > ul.megamenu.megacol-2 {
	width: 490px;
}
.common-menu-wrap .nav > li.has-megasub > ul.megamenu.megacol-2 > li {
	width: 50%;
}

.common-menu-wrap .nav > li.has-megasub > ul.megamenu.megacol-1 > li {
	width: 100%;
}

.common-menu-wrap .nav > li.has-megasub > ul.megamenu.megacol-2 li:nth-child(3),
.common-menu-wrap .nav > li.has-megasub > ul.megamenu.megacol-2 li:last-child {
	margin: 0 !important;
}

/*===========   Mobile Menu   ===========*/
#mobile-menu {
	position: absolute;
	width: 100%;
	z-index: 9;
	right: 0;
	z-index: 999;
	top: 80px;
}

.col-xs-4.visible-xs {
	position: absolute;
	right: 0;
}

.navbar-toggle .icon-bar {
	background: #fff;
	width: 25px;
	height: 3px;
}

.nav-toggle {
	width: 30px;
	height: 30px;
	padding: 0;
	top: 3px;
	right: 0;
	cursor: pointer;
	position: relative;
	margin: 0;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 30px;
		height: 2px;
		background-color: #C0E6E0;
		border-radius: 10px;
		box-shadow: 0 11px 0 0 #C0E6E0, 0 22px 0 0 #C0E6E0;
		transition: 0.3s;
	}

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 30px;
		height: 2px;
		background-color: #343a40;
		border-radius: 10px;
		box-shadow: none;
		transform: rotate(135deg);
		display: none;
	}

	&.active {
		&:before {
			background-color: #C0E6E0;
			box-shadow: none;
			transform: rotate(45deg);
			top: 10px;
		}

		&:after {
			display: block;
			top: 10px;
			background-color: #C0E6E0;
		}
	}
}

.header-borderimage .navbar-toggle .icon-bar,
.header-solid .navbar-toggle .icon-bar {
	background: #2c2925;
}

#navigation #mobile-menu .navbar-nav {
	float: none;
}

#navigation #mobile-menu .navbar-nav {
	margin: 0;
	background-color: #29333f;
}

#mobile-menu .navbar-collapse {
	border: 0;
	box-shadow: none;
	background: #002B6B;
    border-top: 1px solid #ffffff1a;
}

#mobile-menu .navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px 0px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-top: 0 !important;
}

#mobile-menu ul {
	list-style: none;
}

#mobile-menu ul li a {
	padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 15px;
    color: #fff;
    display: block;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
}
#mobile-menu ul ul ul li a {
	padding: 15px 0;
	text-transform: inherit;
}
#mobile-menu ul li.active > a,
#mobile-menu ul li a:hover {
	background: none;
}

#mobile-menu ul ul {
	a {
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		padding: 14px 0;
	}

	ul {
		padding-left: 20px;

		a {
			font-weight: 400;
		}
	}
}

#mobile-menu ul li span.menu-toggler {
    position: absolute;
    right: 6px;
    top: 6px;
	display: inline-block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    z-index: 99;
	transition: 0.4s;
}

#mobile-menu ul li:hover .menu-toggler {
	color: #fff;
}

#mobile-menu ul li {
	line-height: 20px;
	display: block;
}

#mobile-menu ul li span.menu-toggler i {
	display: block;
	line-height: 40px;
	color: #fff;
	font-size: 20px;
}

#mobile-menu ul li span.menu-toggler .fa-angle-right,
#mobile-menu ul li span.menu-toggler.collapsed .fa-angle-down {
	display: none;
}

#mobile-menu ul li span.menu-toggler .fa-angle-down,
#mobile-menu ul li span.menu-toggler.collapsed .fa-angle-right {
	display: block;
}

#navigation #mobile-menu .navbar-nav > li > a:focus,
#navigation #mobile-menu .navbar-nav > li > a:hover {
	background-color: transparent;
}

@media only screen and (max-width: 768px) {
	#masthead.sticky {
		position: inherit !important;
		animation: none;
		box-shadow: none;
	}
	.admin-bar #masthead.sticky {
		top: 0;
	}
}

#navigation .navbar-header .navbar-toggle:hover,
#navigation .navbar-header .navbar-toggle:focus {
	background-color: transparent;
}

.common-menu-wrap .nav > li.current > a,
.header-solid .common-menu-wrap .nav > li.current > a {
	border-color: #0072bc;
}

@media (min-width: 768px) {
	.common-menu-wrap .nav > li.has-megasub > ul.megamenu {
		width: 750px;

		&.megacol-3 {
			width: 480px;

			.mega-child {
				margin-bottom: 0;
			}
		}
	}
}
@media (min-width: 992px) {
	.common-menu-wrap .nav > li.has-megasub > ul.megamenu {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.common-menu-wrap .nav > li.has-megasub > ul.megamenu {
		width: 1170px;

		&.megacol-3 {
			width: 570px;

			.mega-child {
				margin-bottom: 0;
			}
		}
	}
}

.villa-nav-walker {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	.villa-nav {
		display: flex;
		align-items: center;
	}
}

@include breakpoint(mobileonly) {
	.common-menu {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 80px;
		padding-top: 0;

		button:hover,
		button:focus {
			background-color: transparent;
			color: #C0E6E0;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#mobile-menu {
		display: none !important;
	}

	.col-md-3.col-xs-7.common-menu {
		width: 25% !important;
	}

	.villa-navigation .common-menu.hidden-xs.hidden-sm {
		display: block !important;
	}

	.villa-navigation .villa-cart-icon .menu-cart {
		margin-left: 0;
		margin-right: 20px;
	}

	.common-menu-wrap .nav > li > a {
		padding: 26px 8px;
		font-size: 13px;
	}

	.logo-wrapper {
		padding: 18px 0;
	}
}

.mobile-view {
	display: none;

	@media (max-width: 767px) {
		height: 80px;
		display: flex;
		align-items: center;
	}
}

.site-header {
	.navbar-nav {
		.gray-bg {
			a {
				color: #C0E6E0 !important;
			}
			span.menu-toggler {
				color: #C0E6E0 !important;
				i {
					color: #C0E6E0 !important;
				}
			}

			.gray-bg, ul {
				background: #012457;
				padding: 16px 40px !important;

				a {
					color: #fff !important;
				}
			}
		}
	}
}

#mobile-menu ul li.gray-bg span.menu-toggler {
	top: 9px;
}

@include breakpoint(mobileonly) {
	#mobile-menu ul li {
		&.contact-btn {
			display: none !important;
		}
	}
}
